.section-video-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  &__singleVideo {
    display: flex;
    gap: 30px;
    background-color: #3d1766;
    border-radius: 16px;
    box-shadow: 0px 8px 18px 0px #0000001a;
    align-items: center;
    padding: 50px 0;
    width: 100%;
    justify-content: center;
    &__titleLeft {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #fff;
      text-align: center;
    }
    &__titleRight {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #fff;
      text-align: center;
    }
    &__item {
      width: 70%;
      height: auto;
      display: flex;
      justify-content: space-between;
      video {
        width: 30%;
        height: 100%;
        border-radius: 16px;
      }
    }
  }
}
@media (max-width: 600px) {
  .section-video-main {
    &__singleVideo {
      display: flex;
    flex-direction: column;
      &__titleLeft {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #fff;
        text-align: center;
      }
      &__titleRight {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #fff;
        text-align: center;
      }
      &__item {
       flex-direction: column;
       gap: 20px;
        video {
          width: 100% !important;
          height: 100%;
          border-radius: 16px;
        }
      }
    }
  }
}
