.popup-form {
  &__note {
    animation: slideIn 1s ease forwards;
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &__content {
      width: 40%;
      padding: 20px;
      border-radius: 16px;
      border: 2px solid #6f1ab6;
      background: #f6f8fa;
      box-shadow: 8px 9px 27px 0px rgba(0, 0, 0, 0.15),
        33px 36px 49px 0px rgba(0, 0, 0, 0.13),
        74px 82px 66px 0px rgba(0, 0, 0, 0.08),
        131px 146px 79px 0px rgba(0, 0, 0, 0.02),
        205px 228px 86px 0px rgba(0, 0, 0, 0);
      &__open {
        animation: slideIn 1s ease forwards;
      }
      &__checked {
        display: flex;
        align-items: center;
        gap: 8px;
        label {
          color: #131114;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
        input {
          width: 18px;
          height: 18px;
        }
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      &__text {
        color: #3d1766;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
      }
      &__btn {
        &:hover {
          background-color: transparent !important;
        }
      }
    }
    &__footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 8px;

      button {
        border: 2px solid #cd0404;
        background-color: #3d1766;
      }
      &__loading {
        button {
          background-color: #cd0404;
          border: 2px solid #3d1766;
        }
      }
      &__text {
        width: 100%;
        color: #131114;
        text-align: right;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        a{
          text-decoration: underline;
        }
      }
    }
    button {
      cursor: pointer;
      &:hover {
        background-color: #cd0404;
        border-color: #6f1ab6;
      }
    }
    div {
      input {
        color: #131114 !important;
        border: 2px solid #131114;
        &::placeholder {
          color: #131114 !important;
        }
      }
    }
    label {
      color: #131114 !important;
    }
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}
