@import "../../../../styles/variables";

.intro-conent{
  display: flex;
  align-items: center;
}
.intro-service {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cd0404;
  position: relative;
  padding-top: calc($header-height + $header-padding + $section-padding);
  &__content {
    width: 50%;
    &__title {
      color: #fff;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 20px;
    }
    &__text {
      p {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }
  }
  &__image{
    position: relative;
    width: 45%;
    height: 500px;
    img{
      object-fit: contain;
    }
  }
  .scroll-msg {
    color: white;
    width: 100%;
    right: 0;
    position: absolute;
    bottom: 20%;
    &__item {
      position: absolute;
      width: 150px;
      height: 46px;
      transform: rotate(-90deg) translateY(50%);
      right: 0;
    }
    &__line {
      width: 110%;
      overflow: hidden;
      p {
        margin-bottom: 10px;
        width: 100%;
        overflow: hidden;
        transform: translateX(-90%);
        height: 1px;
        background-color: white;
        position: relative;
        right: -100%;
        animation: expandWidth 3s linear infinite;
      }
    }
    & p:first-child {
      font-size: 14px;
      line-height: 20px;
      font-weight: 600;
      text-align: right;
      padding-right: 4px;
    }
    & p:last-child {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  @keyframes expandWidth {
    0% {
      width: 10%;
    }
    100% {
      width: 110%;
    }
  }
}
@media (max-width: 1200px) {
  .intro-conent{
    flex-wrap: wrap;
  }
  .intro-service {
    height: auto;
    padding-bottom: calc($header-height + $section-padding);
    &__content {
      width: 80%;
    }
    &__image{
      width: 100%;
      img{
        object-fit: contain;
      }
    }
    .scroll-msg {
      bottom: 30%;
      transform: translateY(-50%);
    }
  }
}
@media (max-width: 767px) {
  .intro-service {
    .scroll-msg {
      bottom: 23%;
      transform: translateY(-50%);
    }
    &__image{
      width: 100%;
      height: 350px;
      img{
        object-fit: contain;
      }
    }
  }
}
@media (max-width: 480px) {
  .intro-service {
    .scroll-msg {
      bottom: 15%;
      transform: translateY(-50%);
    }
    &__image{
      width: 100%;
      height: 200px;
      img{
        object-fit: contain;
      }
    }
  }
}
@media (max-width: 390px) {
  .intro-service {
    height: auto;
    &__image{
      width: 100%;
      height: 140px;
      img{
        object-fit: contain;
      }
    }
  }
  
}
