.all-service-ondigitals {
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
  &__title {
    width: 50%;
    h2 {
      color: #131114;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }
  }
  &__card-main {
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    &__container {
      background-origin: content-box;
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      background-blend-mode: hard-light;
      width: 100%;
      height: auto;
      border-radius: 16px;
      padding: 20px 32px;
      box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.1),
        9px 14px 16px 0px rgba(0, 0, 0, 0.09),
        20px 31px 22px 0px rgba(0, 0, 0, 0.05),
        35px 55px 26px 0px rgba(0, 0, 0, 0.01),
        55px 86px 29px 0px rgba(0, 0, 0, 0);
      &__title {
        color: #fff;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
      }
      &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        &__text {
          width: 20%;
          color: #f6f8fa;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }
        &__list-card-child {
          width: 80%;
          margin: 10px 0;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .all-service-ondigitals {
    &__title {
      width: 100%;
      text-align: center;
    }
    &__card {
      row-gap: 20px;
    }
  }
}
@media (max-width: 760px) {
  .all-service-ondigitals {
    &__card-main {
      &__container {
        background-image: unset !important;
      }
    }
    &__title {
      width: 100%;
      text-align: center;
      p {
        color: #131114;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
      }
    }
  }
}

@media (max-width: 550px) {
  .all-service-ondigitals {
    &__card-main {
      display: flex;
      row-gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 5%;
      &__container {
        width: 100%;
        height: auto;
        border-radius: 16px;
        padding: 20px 10px;
        &__title {
          color: #fff;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 36px;
        }
        &__content {
          flex-direction: column;
          &__text {
            width: 100%;
          }
          &__list-card-child {
            width: 100%;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 310px) {
  .all-service-ondigitals {
    &__card {
      &__item {
        width: 100%;
      }
    }
  }
}
