@import "../../../../../styles/variables";

.ducati-video {
  background-color: $red-dark;
  padding: 12% 0;
  &-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 25px;
  }
  &-left {
    grid-column: span 5 / span 5;
    display: flex;
    align-items: center;
    &-content-group {
      padding-right: 110px;
      color: white;
      &__main {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 30px;
      }
    }
  }
  &-right {
    grid-column: span 7 / span 7;
  }
}

@media (max-width: 1280px) {
  .ducati-video {
    &-left {
      &-content-group {
        padding-right: 50px;
      }
    }
  }
}

@media (max-width: 950px) {
  .ducati-video {
    &-left {
      &-content-group {
        padding-right: 0px;
      }
    }
  }
}

@media (max-width: 780px) {
  .ducati-video {
    padding: 14% 0;
    &-container {
      gap: 0;
    }
    &-left {
      grid-column: span 12 / span 12;
      margin-bottom: 25px;
      &-content-group {
        text-align: center;
      }
    }
    &-right {
      grid-column: span 12 / span 12;
    }
  }
}
