@import "../../../../../styles/variables";
@import "../../../../../styles/functions";

.in-depth-detail-ducati {
  background-color: $neutral-300;
  color: white;
  padding: 5% 0;
  &-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    .in-depth-left {
      grid-column: span 5 / span 5;
      &__heading {
        margin-top: 30px;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 35%;
      }
    }
    .in-depth-right {
      grid-column: span 7 / span 7;
      &__image {
        position: relative;
        width: 768px;
        height: 545px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .in-depth-detail-ducati {
    padding: 8% 0;
    &-container {
      .in-depth-right {
        grid-column: span 7 / span 7;
        &__image {
          position: relative;
          width: zoom_ratio(768px);
          height: zoom_ratio(545px);
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        grid-column: span 7 / span 7;
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.7);
          height: zoom_ratio(545px, 0.7);
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        grid-column: span 7 / span 7;
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.6);
          height: zoom_ratio(545px, 0.6);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .in-depth-detail-ducati {
    gap: 0;
    &-container {
      .in-depth-left {
        &__heading {
          margin-bottom: 0;
          text-align: center;
        }
      }
      .in-depth-left {
        grid-column: span 12 / span 12;
        &__content-list {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          ul {
            max-width: 80%;
          }
        }
      }
      .in-depth-right {
        grid-column: span 12 / span 12;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        &__image {
          position: relative;
          width: zoom_ratio(768px);
          height: zoom_ratio(545px);
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.7);
          height: zoom_ratio(545px, 0.7);
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.6);
          height: zoom_ratio(545px, 0.6);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.45);
          height: zoom_ratio(545px, 0.45);
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        margin-top: 20px;
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.3);
          height: zoom_ratio(545px, 0.3);
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .in-depth-detail-ducati {
    &-container {
      .in-depth-right {
        margin-top: 20px;
        &__image {
          position: relative;
          width: zoom_ratio(768px, 0.25);
          height: zoom_ratio(545px, 0.25);
        }
      }
    }
  }
}
