@import "../../../../styles/variables";
@import "../../../../styles/functions";

.over-view {
  display: flex;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  &__layout {
    display: grid;
    // height: 100%;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  &__left {
    display: flex;
    align-items: center;
    padding-left: 16%;
    padding-right: 20px;
    &__content {
      &__title {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 85px;
      }
      &__text {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      &__logo {
        margin-top: 35px;
        display: flex;
        &__item {
          position: relative;
        }
      }
    }
  }
  &__right {
    position: relative;
    &__image {
      position: relative;
      width: 447px;
      width: 100%;
      &.inner-size {
        left: 50%;
        margin: 60px 0;
        transform: translateX(-50%);
        width: zoom_ratio(447px);
        height: zoom_ratio(650px);
      }
      &.full-size {
        width: 100%;
        height: 650px;
      }
    }
  }
}

@media (min-width: 2500px) {
  .over-view {
    justify-content: center;
    &__left {
      padding-left: 0;
    }
  }
}

@media (max-width: 1280px) {
  .over-view {
    &__left {
      padding-left: 20px;
      &.no-full {
        padding-left: 20px;
      }
    }
    &__right {
      &__image {
        &.full-size {
          height: zoom_ratio(750px);
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .over-view {
    &__right {
      &__image.inner-size {
        width: 100%;
        height: 650px;
        left: 50%;
        &.inner-size {
          width: zoom_ratio(447px, 0.7);
          height: zoom_ratio(650px, 0.7);
        }
      }
      &__image {
        &.full-size {
          height: zoom_ratio(750px, 0.7);
        }
      }
    }
  }
}

@media (max-width: 868px) {
  .over-view {
    height: auto;
    padding-top: 96px;
    &__left {
      &__content {
        text-align: center;
        &__title {
          margin-bottom: 10px;
          font-size: 28px;
          line-height: 36px;
        }
        &__text {
          font-size: 14px;
          line-height: 20px;
        }
        &__logo {
          justify-content: center;
          flex-wrap: wrap;
          &__item {
            margin: 5px;
          }
        }
      }
      grid-column: span 12 / span 12 !important;
    }
    &__right {
      grid-column: span 12 / span 12 !important;
      position: relative;
      &__image.inner-size {
        width: 100%;
        height: 650px;
        left: 50%;
        &.inner-size {
          width: 250px;
          height: 348px;
        }
      }
      &__image {
        &.full-size {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .over-view {
    &__right {
      &__image {
        &.full-size {
          height: zoom_ratio(750px, 0.4);
        }
      }
    }
  }
}
