.passion-in-depth {
  padding: 8% 0;
  &-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    &-left {
      grid-column: span 7 / span 7;
    }
    &-right {
      grid-column: span 5 / span 5;
      padding-bottom: 50%;
      &__header {
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
        color: white;
        margin-bottom: 120px;
      }
    }
  }
}

@media (max-width: 768px) {
  .passion-in-depth {
    padding: 12% 0;
    &-container {
      &-left {
        grid-column: span 6 / span 6;
      }
      &-right {
        grid-column: span 6 / span 6;
        padding-bottom: 50%;
        &__header {
          font-size: 36px;
          line-height: 40px;
          font-weight: 600;
          color: white;
          margin-bottom: 80px;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .passion-in-depth {
    padding: 12% 0;
    &-container {
      &-left {
        display: none;
      }
      &-right {
        grid-column: span 12 / span 12;
        padding-bottom: 20%;
        &__header {
          text-align: center;
          font-size: 36px;
          line-height: 40px;
          font-weight: 600;
          color: white;
          margin-bottom: 150px;
        }
        &__content-list {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          ul {
            margin-left: 0;
            width: 80%;
            text-shadow: 1px 1px 2px black;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .passion-in-depth {
    &-container {
      &-right {
        &__header {
          margin-bottom: 50px;
        }
        &__content-list {
          ul {
            margin-left: 0;
            width: 100%;
          }
        }
      }
    }
  }
}
