@mixin button {
  height: auto;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.button {
  @include button;
}
.btn-contact-form {
  @include button;
  border-radius: 32px;
  background: #cd0404;
  justify-content: space-around;
  &:hover {
    background: #3d1766;
  }
}
