@import "../../../styles/variables";

.menu-social {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  margin-left: auto;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s;
  .menu-social__item:nth-child(n):not(:last-child) {
    margin-right: 24px;
  }
  svg {
    &:hover {
      path {
        fill: rgba(171, 139, 212, 1);
      }
    }
  }
}

.wrapper {
  top: 0;
  right: -100%;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: $menu-index;
  .overlay-item {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transition: all 0.6s ease-in;
    z-index: $overlay-index;
  }
  .menu-list-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: $neutral-200;
    padding-top: calc($header-padding + 40px);
    padding-bottom: calc($header-padding + 10px);
    text-align: right;
    display: flex;
    overflow: hidden;
    &__image {
      position: absolute;
      width: 60%;
      height: 90vh;
      display: flex;
      align-items: center;
    }
    &__head-line {
      position: absolute;
      top: 45%;
      left: 40%;
      color: rgba(255, 255, 255, 0.3);
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-align: start;
      cursor: pointer;
      transition: all 0.3s;
      z-index: 2;
      &:hover {
        color: rgba(171, 139, 212, 1);
        transform: scale(1.02);
      }
      p {
        font-size: 36px !important;
        font-weight: 600;
      }
      span {
        font-size: 20px !important;
        font-weight: 600;
        line-height: 28px !important;
      }
    }
    &__japan {
      position: absolute;
      top: 38%;
      left: 27.5%;
    }
    &__china {
      position: absolute;
      top: 47%;
      left: 20.5%;
    }
    &__thailand {
      position: absolute;
      top: 53%;
      left: 15.5%;
    }
    &__taiwan {
      position: absolute;
      top: 51%;
      left: 25%;
    }
    &__vietnam {
      position: absolute;
      top: 57%;
      left: 17%;
    }
    &__philippines {
      position: absolute;
      top: 60%;
      left: 24%;
    }
    &__malaysia {
      position: absolute;
      top: 69%;
      left: 15.5%;
    }
    &__singapore {
      position: absolute;
      top: 72.5%;
      left: 17%;
    }
    &__indonesia {
      position: absolute;
      top: 74.5%;
      left: 25%;
    }
    &__australia {
      position: absolute;
      top: 83.5%;
      left: 27.5%;
    }
    p {
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      z-index: 2;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        color: rgba(171, 139, 212, 1);
        transform: scale(1.5);
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
      padding-right: 28px;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    .menu-list {
      font-size: 28px;
      font-weight: 400;
      line-height: 52px;
      opacity: 0;
      transform: translateY(-30px);
      transition: all 0.3s;
      &-item {
        padding: 5px 0;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        ul {
          visibility: hidden;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.75s ease-in-out;
        }

        &__services ul {
          opacity: 1;
          max-height: 1000px;
          visibility: visible;
          transition: max-height 0.3s ease-in-out;
        }

        &__link {
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          span {
            color: white;
            transition: all 0.5s;
            &:hover {
              color: rgba(171, 139, 212, 1);
              transform: scale(1.15) translateX(-20px);
              font-weight: 600;
            }
          }
          svg {
            margin-left: 24px;
          }
          &__child {
            display: flex;
            flex-direction: column;
            a {
              margin-top: 10px;
              margin-right: 54px;
              color: #fff;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              &:hover {
                color: rgba(171, 139, 212, 1);
              }
            }
          }
        }
        &__circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-left: 24px;
          &.circle-0 {
            background-color: #3d1766;
          }
          &.circle-1 {
            background-color: #6f1ab6;
          }
          &.circle-2 {
            background-color: #dcc7ed;
          }
          &.circle-3 {
            background-color: #ff0032;
          }
          &.circle-4 {
            background-color: #cd0404;
          }
          &.circle-5 {
            background-color: #fff;
          }
        }
      }
      &__emailContact {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        transform: unset !important;
        margin-bottom: 21px;
        display: block;
        &:hover {
          color: rgba(171, 139, 212, 1);
        }
      }
    }
  }
  &.active {
    right: 0;
    .menu-list {
      opacity: 1;
      transform: translateY(0px);
    }
    .menu-social {
      opacity: 1;
      transform: translateY(0px);
    }
    .overlay-item {
      right: 200%;
    }
  }
}
@media (max-width: 1200px) {
  .wrapper {
    .menu-list-wrapper {
      &__map {
        display: none;
      }
    }
  }
}
@media (max-width: 360px) {
  .wrapper {
    .menu-list-wrapper {
      .menu-list {
        &-item {
          &__circle {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-left: 14px;
            &.circle-0 {
              background-color: #3d1766;
            }
            &.circle-1 {
              background-color: #6f1ab6;
            }
            &.circle-2 {
              background-color: #ff0032;
            }
            &.circle-3 {
              background-color: #cd0404;
            }
            &.circle-4 {
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}