@import "../../styles/variables";

.blog-detail {
  padding-top: calc($header-height + $header-padding + $section-padding);
  &-header {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }
  &-breadcrumbs {
    margin-top: 20px;
    margin-bottom: 36px;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 40px;
    &__toc {
      width: 30%;
      &__newest-posts {
        padding: 10px;
        &__title {
          color: #131313;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px;
          margin-bottom: 10px;
        }
        ul {
          text-decoration: underline;
          li {
            margin-bottom: 10px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            min-height: 26px;
            &:hover {
              color: #6f1ab6;
            }
          }
        }
      }
    }

    &__main {
      width: 68%;
    }
  }
  &-read-more {
    padding-top: 55px;
    padding-bottom: 48px;
    background-color: #dcc7ed;
    &__heading {
      margin-bottom: 26px;
      &-content {
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
      }
    }
    &__listPosts {
      list-style: inside;
      text-decoration: underline;
      li {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-decoration: underline;
        margin-bottom: 24px;
        &:hover {
          color: #6f1ab6;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .blog-detail {
    &-content {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      &__spacer {
        display: none;
      }
      &__toc {
        width: 100%;
      }

      &__main {
        width: 100%;
      }
    }
  }
}

// @media (max-width: 992px) {
//   .blog-detail {
//     &-content {
//       gap: 0;
//       &__toc {
//         grid-column: span 12 / span 12;
//       }
//       &__main {
//         grid-column: span 12 / span 12;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .blog-detail {
//     &-contact-banner {
//       &-wrapper {
//         justify-content: center;
//         text-align: center;
//       }
//     }
//   }
// }
