@import "../../../styles/variables";

.tag {
  padding: 8px 12px 6px 12px;
  font-size: 12px;
  color: white;
  text-align: center;
  font-weight: 500;
  line-height: 16px;
  border-radius: 40px;
  display: table-cell;
  vertical-align: middle;
}
.colorseo {
  background-color: #6F1AB6 !important;
}
.colorDigitalsContent {
  background-color: #3D1766 !important;
}
.colorSocialOutreach {
  background-color: #CD0404 !important;
}
.colorPaidPerfomance {
  background-color: #FF0032 !important;
}

