@import "../../../../styles/variables";

.contact-section {
  padding: 55px 0 176px 0;
  h2 {
    color: #3d1766;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 14px;
  }
}
.contact-infor {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  &__content {
    grid-column: span 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    &-infor {
      &-item:nth-child(n):not(:last-child) {
        margin-bottom: 24px;
      }
      &-item {
        display: flex;
        position: relative;
        &-wrapper {
          width: 60%;
        }
        .circle {
          margin-top: 3px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          margin-right: 8px;
        }
        &:nth-child(1) {
          .circle {
            background-color: $primary-dark;
          }
        }
        &:nth-child(2) {
          .circle {
            background-color: $red-dark;
          }
        }
        &:nth-child(3) {
          .circle {
            background-color: $primary-dark;
          }
        }
        &__heading {
          font-size: 18px;
          font-weight: 600;
          line-height: 26px;
          margin-bottom: 6px;
        }
        &__content {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
    &-social {
      margin-top: 35px;
      &-heading {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
      }
      &-list {
        margin-top: 12px;
        display: flex;
        li {
          margin-right: 16px;
        }
      }
    }
  }
  &__map-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    grid-column: span 1 / span 1;
    &-map-item {
      iframe {
        margin-top: 16px;
        border-radius: 28px;
        box-shadow: 11px 9px 31px 0px rgba(0, 0, 0, 0.1),
          44px 37px 57px 0px rgba(0, 0, 0, 0.09),
          99px 82px 77px 0px rgba(0, 0, 0, 0.05),
          176px 147px 92px 0px rgba(0, 0, 0, 0.01),
          275px 229px 100px 0px rgba(0, 0, 0, 0);
      }
    }
  }
}

@media (max-width: 1024px) {
  .contact-section {
    padding: 5% 0;
    h2{
      text-align: center;
    }
  }
  .contact-infor {
    &__content {
      grid-column: span 2 / span 2;
      &-social {
        &-list {
          margin-top: 12px;
          display: flex;
          justify-content: center;
          margin-bottom: 30px;
        }
      }
      &-wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
      }
      &-infor {
        &-item {
          display: flex;
          justify-content: center;
          .circle {
            position: absolute;
            left: 30%;
          }
          &-wrapper {
            width: 40%;
          }
        }
      }
    }
    &__map-wrapper {
      align-items: center;
      grid-column: span 2 / span 2;
    }
  }
}

@media (max-width: 680px) {
  .contact-infor {
    &__map-wrapper-map-item {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 300px;
    }
    &__content {
      &-infor {
        &-item {
          .circle {
            left: 20%;
          }
          &-wrapper {
            width: 60%;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .contact-infor {
    &__content {
      &-infor {
        &-item {
          &-wrapper {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .contact-infor {
    &__content {
      &-infor {
        &-item {
          .circle {
            left: 0;
          }
          &-wrapper {
            width: 100%;
          }
        }
      }
    }
  }
}
