.hero-industries {
  height: 100vh;
  padding-top: 15%;
  padding-bottom: 5%;
  position: relative;

  &__content {
    display: flex;
    gap: 5%;
    &__text {
      width: 50%;
      &__heading {
        color: #fff;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 10px;
      }
      &__title {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 20px;
      }
      &__detail {
        color: #f6f8fa;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
      }
      &__btn {
        display: block;
        color: #fff;
        margin-top: 20px;
        font-size: 20.267px;
        font-style: normal;
        font-weight: 600;
        line-height: 30.4px;
        position: relative;
        &::before {
          top: 43%;
          transform: translateY(-50%);
          position: absolute;
          content: "";
          width: 38px;
          height: 38px;
          border: 2px solid #faf5ff;
          opacity: 0.4;
          border-radius: 100%;
          left: -20px;
        }
        &:hover {
          &::before {
            background-color: #dcc7ed;
          }
        }
      }
    }
    &__image {
      width: 45%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      &__content {
        width: 310px;
        height: 290px;
        position: relative;
        img {
          object-fit: contain;
        }
      }
    }
  }
}
.scroll-msg {
  color: white;
  width: 100%;
  right: 0;
  position: absolute;
  bottom: 20%;
  &__item {
    position: absolute;
    width: 150px;
    height: 46px;
    transform: rotate(-90deg) translateY(50%);
    right: 0;
  }
  &__line {
    width: 110%;
    overflow: hidden;
    p {
      margin-bottom: 10px;
      width: 100%;
      overflow: hidden;
      transform: translateX(-90%);
      height: 1px;
      background-color: white;
      position: relative;
      right: -100%;
      animation: expandWidth 3s linear infinite;
    }
  }
  & p:first-child {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-align: right;
    padding-right: 4px;
  }
  & p:last-child {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
}
@keyframes expandWidth {
  0% {
    width: 10%;
  }
  100% {
    width: 110%;
  }
}
@media (max-width: 1200px) {
  .hero-industries {
    height: auto;
    img {
      object-fit: contain;
    }
  }
  .scroll-msg {
    bottom: 30%;
    transform: translateY(-50%);
  }
}
@media (max-width: 800px) {
  .scroll-msg {
    bottom: 23%;
    transform: translateY(-50%);
    &__item {
      right: -15px;
    }
  }
  .hero-industries {
    &__content {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      &__text {
        width: 100%;
        &__heading {
          text-align: center;
        }
        &__title {
          text-align: center;
        }
        &__btn {
          margin-left: 20px;
        }
      }
      &__image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &__content {
          width: 303px;
          height: 282px;
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .hero-industries {
    padding: 25% 0;
  }
  .scroll-msg {
    bottom: 15%;
    transform: translateY(-50%);
  }
}
@media (max-width: 360px) {
  .hero-industries {
    padding: 30% 0;

    &__content {
      &__image {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        &__content {
          width: 303px;
          height: 282px;
          position: relative;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
}
