@import ".././../../../styles/variables";
@import ".././../../../styles/mixins";
@import ".././../../../styles/functions";

.section-new-insights {
  background-color: #faf5ff;
  height: 100vh;
  @include section;
  &__content {
    .button-discover-more {
      @include text;
      font-weight: 600;
      color: #131114;
      a {
        display: inline-flex;
        float: right;
        justify-content: flex-end;
        position: relative;
      }
    }
    .card-news-insights {
      border-radius: 20px 20px 20px 20px;
      background-color: #fff;
      position: relative;
      width: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -3px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      &__content {
        padding: 16px 12px;
        height: 180px;
        &__tag {
          display: flex;
          gap: 10px;
          margin: 12px 0;
          flex-wrap: wrap;
        }
        &__dayView {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          div {
            margin: 0;
          }
          p {
            color: var(--neutral-100, #131114);
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
          }
        }
        &--titlePost {
          color: #131114;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-align: start;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          min-height: 40px;
        }
        &--text {
          color: #131114;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin: 16px 0;
          text-align: start;
        }
      }

      &__image {
        &__link {
          width: 100%;
          height: 244px;
          min-height: 244px;
          overflow: hidden;
          position: relative;
          display: block;
        }
        img {
          object-fit: cover;
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 20px 0;
    &--left {
      color: #131114;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }
    &--right {
      color: #131313;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
@media (max-width: 1200px) {
  .section-new-insights {
    height: auto;
    padding: calc($header_padding * 2) 0;

    &__content {
      padding: 0px;
      .button-discover-more {
        margin-top: 30px;
      }
    }
  }
}
@media (max-width: 360px) {
  .section-new-insights {
    height: auto;
    &__content {
      padding: 0px;
      .button-discover-more {
        margin-top: 30px;
      }
      .card-news-insights {
        border-radius: 20px 20px 0px 0px;
        background-color: #fff;
        position: relative;
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 30px -3px,
          rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        &__content {
          padding: 10px;
          &__dayView {
            p {
              margin-top: 10px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    &__title {
      &--left {
        color: #131114;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 15px;
      }
    }
  }
}
