.post-detail-container {
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 32px;
  height: auto;
  .post-detail-content {
    .day-and-tag-post-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      margin-bottom: 24px;
      .tag-post-detail {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
      }
    }
    .title-post-detail {
      color: #131114;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 24px;
    }

    .content-post {
      h2 {
        color: #6f1ab6;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        margin: 14px 0;
      }
      h3,
      h4,
      h5 {
        color: #131114;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        margin: 14px 0 12px 0;
      }
      img {
        width: 100%;
        margin: 12px 0 10px 0;
        height: auto;
      }
      figcaption{
        text-align: center;
        font-style: italic;
      }
      em {
        margin-bottom: 12px;
        display: inline-block;
      }
      p {
        color: #131114;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      p:first-child {
        color: #131114;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        em {
          margin: unset;
          display: unset;
        }
      }
    }
    .post-detail-footer {
      margin-top: 32px;
      hr {
        height: 3px;
        background-color: #000;
      }
      .post-detail-footer-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 16px;
        &__back {
          a {
            gap: 8px;
          }
        }
        &__icon-to-top {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .post-detail-container {
    .post-detail-content {
      .content-post {
        h2 {
          margin: 7px 0;
        }
        h3 {
          margin: 7px 0 6px 0;
        }
        img {
          margin: 8px 0 5px 0;
        }
        em {
          margin-bottom: 5px;
        }
      }
    }
  }
}
