.toc {
  padding: 10px;
  position: relative;
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &__content {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
    &__btn {
      &.hide {
        svg {
          transform: rotate(-180deg);
        }
      }
      svg {
        transform-origin: center;
        transition: all 0.2s;
      }
      cursor: pointer;
    }
  }
  .toc-list-wrapper {
    overflow: hidden;
    transition: height 0.3s;
    height: 0px;
    &.hide{
      height: auto;
    }
  }
  &-list {
    &__item {
      &--1 {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin-top: 16px;
      }
      &--2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-top: 8px;
        padding: 0 10px;
      }
      &--3 {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        margin-top: 8px;
        padding: 0 12px;
      }
    }
  }
}

.line {
  height: 1px;
  background-color: black;
  width: calc(100% + 10px);
  margin: 10px 0;
  position: relative;
  left: -10px;
}

.socials {
  display: flex;
  min-height: 31px;
  &-heading {
    color: #131313;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  li {
    margin-left: 10px;
  }
}
