@import "../../../styles/variables";
.footer {
  background-color: #3d1766;
  height: auto;
}
.btn-contact {
  display: none;
  position: fixed;
  bottom: 4vh;
  left: 4vw;
  color: white;
  padding: 5px;
  background-color: #6f1ab6;
  border-radius: 8px;
  z-index: 100;
  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}
.footer__row {
  display: flex;
  gap: 30px;
  padding: 94px 0 65px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  .colum-1 {
    width: 27%;
    .title__company__footer {
      font-weight: 600;
      margin: 38px 0 10px 0;
    }
    .image-logo-footer {
      width: 241px;
      height: 77px;
    }
  }
  .colum-2 {
    width: 30%;
    .row__services {
      display: flex;
      justify-content: space-between;
      gap: 18px;
      flex-wrap: wrap;
      &__detail {
        width: 47%;
        &__title {
          color: #fff;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
  }
  .colum-3 {
    width: 9%;
  }
  .colum-4 {
    width: 14%;
    .icon__homepage--social {
      display: flex;
      gap: 16px;
      a {
        font-size: 24px;
      }
    }
  }
  p,
  li {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
    cursor: pointer;
  }
}

.footer__row {
  .colum__title {
    margin-bottom: 12px;
  }
  .colum-1 p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .colum-1 span {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  a {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  p {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}
@media (max-width: 1240px) {
  .footer__row {
    margin: 0 20px;
    justify-content: unset;
    .colum-1 {
      width: 45%;
    }
    .colum-2 {
      width: 45%;
      .row__services {
        display: flex;
        justify-content: space-between;
      }
    }
    .colum-3 {
      width: 45%;
    }
    .colum-4 {
      width: 45%;
    }
  }
}
@media (max-width: 767px) {
  .btn-contact {
    display: block;
  }
  .footer__row {
    padding: 50px 0;
    .colum-1 {
      width: 100%;
      .title__company__footer {
        font-weight: 600;
        margin: 38px 0 10px 0;
      }
      .image-logo-footer {
        width: 241px;
      }
    }
    .colum-2 {
      width: 100%;
      .row__services {
        display: flex;
        justify-content: space-between;
      }
    }
    .colum-3 {
      width: 47%;
    }
    .colum-4 {
      width: 47%;
    }
  }
}
@media (max-width: 380px) {
  .footer__row {
    .colum-1 {
      width: 100%;
      .title__company__footer {
        font-weight: 600;
        margin: 38px 0 10px 0;
      }
      .image-logo-footer {
        width: 241px;
      }
    }
    .colum-2 {
      width: 100%;
      .row__services {
        display: flex;
        justify-content: space-between;
        &__detail {
          width: 100%;
        }
      }
    }
    .colum-3 {
      width: 100%;
    }
    .colum-4 {
      width: 100%;
    }
  }
}
