@import ".././../../../styles/variables";
@import ".././../../../styles/mixins";
@import ".././../../../styles/functions";

.homepagesectionpartner {
  background-color: #cd0404;
  height: 100vh;
  @include section;
  padding: calc($header_padding * 2) 0;
  &__title {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 5%;
  }
  &__below {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    flex-wrap: wrap;
    color: #fff;
    &__button {
      @include text;
      display: flex;
      padding: 16px 20px;
      align-items: center;
      gap: 8px;
      border: 2px solid #fff;
      border-radius: 32px;
      height: 48px;
      margin-bottom: 15px;
    }
    &__text {
      @include text;
      // margin-bottom: 15px;
      margin-top: 2px;
    }
  }
}
.homepagesectionpartner__content {
  border-left: 1px solid white;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  &__colrightmain {
    transform: translateY(-25px);
  }
  &__image {
    height: 140px;
    width: 140px;
    position: relative;
  }
  &__image img {
    background-color: #fff;
    border-radius: 50%;
    height: 100%;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      border: 3px solid #6f1ab6;
    }
  }

  &__colrightimage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px 120px;
  }
  &__colright--text {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    display: block;
    margin: 0;
    margin-bottom: 30px;
  }
  &__colleft {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &--number {
    @include number;
    padding-bottom: 8px;
  }
  &--text {
    @include text;
  }
}
@media (max-width: 1200px) {
  .homepagesectionpartner {
    height: auto;
    &__title {
      text-align: center;
    }
  }
}
@media (max-width: 600px) {
  .homepagesectionpartner {
    height: auto;
    &__below {
      &__text {
        @include text;
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 768px) {
  .homepagesectionpartner {
    height: auto;
    &__title {
      text-align: center;
      margin: 0 20px;
    }
    &__below {
      margin: 0 20px;
      align-items: center;
    }
  }
  .homepagesectionpartner__content {
    margin: 0;
    align-items: center;
    &__colrightimage {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 30px 50px;
      place-items: center;
    }
  }
}
@media (max-width: 380px) {
  .homepagesectionpartner__content {
    &__colright--text {
      text-align: center;
      padding: 0 10px;
    }
    &__image {
      height: 100px;
      width: 100px;
    }
    &__colrightimage {
      place-items: center;
      gap: 20px 10px !important;
    }
  }
}
