@import "../../../../styles/variables";
.main-section {
  background-color: #cd0404;
  height: 100vh;
  padding: 10% 0;
  .header {
    width: 40%;
    p {
      color:#fff;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px; 
    }
  }
  .main-content{
    .list-reason-item{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
        padding-top: 5%;
    }
  }
}
@media (max-width:1200px) {
    .main-section {
        height: auto;
        .header{
            width: 100%;
            p{
              text-align: center;
            }
        }
    }
}
