@import "../../../../styles/variables";

.btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  position: relative;
  padding-left: 15px;
  padding-top: 3px;
  color: $neutral-900;
  &::before {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $neutral-900;
    opacity: 0.4;
    border-radius: 100%;
    left: 0;
  }
}
