@import "../../../styles/variables";

.select {
  display: flex;
  align-items: center;
  position: relative;
  .select-wrapper {
    position: relative;
    min-width: 120px;
    cursor: pointer;
    .select-name {
      display: flex;
      user-select: none;
      &__content {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
    }
    .select-list {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: calc(100% + 8px);
      transition: opacity 0.3s;
      background-color: $neutral-900;
      width: 100%;
      border-radius: 6px;
      overflow: hidden;
      z-index: $selection-index;
      box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.7);
      &.show {
        opacity: 1;
        visibility: visible;
        width: 90%;
      }
      &-item {
        padding: 8px;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        p {
          margin-top: 6px;
        }
        a {
          display: flex;
          justify-content: flex-start;
        }
        &:hover {
          background-color: #6f1ab6;
          a {
            color: white !important;
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .select {
    justify-content: space-between;
  }
}
@media (max-width: 600px) {
  .select {
    // path{
    //   fill: #fff !important;
    //   stroke: #fff !important;

    // }
    .select-wrapper {
      .select-name {
        display: flex;
        user-select: none;
        &__content {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          color: #fff !important;
        }
      }
    }
  }
}
