.section-digitals-content {
  padding: 5% 0;
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-textLeft {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }
    &-textRight {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: right;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        text-decoration: underline;
      }
    }
  }
  &-decs {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    display: flex;
    gap: 20px;
    align-items: center;
    &__content {
      margin-top: 10px;
      width: 55%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    ul {
      list-style: inside;
      margin-left: 10px;
      margin-top: 10px;
    }
    &__image {
      position: relative;
      width: 45%;
      display: flex;
      gap: 20px;
      height: 550px;
    }
  }
  &__below-image {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px 0;
    padding-bottom: 0;
    img {
      margin: 20px 0;
      object-fit: cover;
    }
    ul {
      list-style: inside;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    &__title {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      margin-top: 50px;
    }
    &__titleFooter {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      margin-top: 20px;
    }
    &__item {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
      gap: 30px;
      &__card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 31%;
        align-items: center;
        box-shadow: 0px 8px 16.4px 0px #00000040;

        &__image {
          width: 100%;
          height: 300px;
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .section-digitals-content {
    padding: 50px 0;
    color: #111111;
    &-head {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &-textLeft {
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
      }
      &-textRight {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
    &__below-image {
      img {
        object-fit: contain;
        height: 250px !important;
        margin: 0;
      }
    }
    &-body {
      &__item {
        &__card {
          &__image {
            height: 350px !important;
          }
        }
        .cards {
          width: 47% !important;
        }
      }
    }
    &-decs {
      width: 100%;
      text-align: center;
      flex-direction: column;
      &__content {
        margin-top: 10px;
        width: 100%;
      }
      &__image {
        width: 100%;
        height: 500px !important;
        img {
          object-fit: contain !important;
        }
      }
    }
  }
}
@media (max-width: 760px) {
  .section-digitals-content {
    &__below-image {
      img {
        height: 150px !important;
      }
    }
    &-body {
      &__item {
        .cards {
          width: 100% !important;
        }
        .singleimage {
          height: 250px !important;
        }
      }
    }
  }
}
@media (max-width: 300px) {
  .section-digitals-content {
    &__below-image {
      img {
        height: 100px !important;
      }
    }
  }
}
