.section-digitals-content {
  padding: 5% 0;
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-textLeft {
      font-size: 36px;
      font-weight: 600;
      line-height: 40px;
    }
    &-textRight {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: right;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        text-decoration: underline;
      }
    }
  }
  &-decs {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 50%;
    p {
      margin-top: 10px;
    }
    ul{
      list-style: inside;
      margin-left: 10px;
      margin-top: 10px;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    &__title {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      margin-top: 50px;
    }
    &__titleFooter {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      margin-top: 20px;
    }
    &__item {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
      gap: 30px;
      &__card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 31%;
        align-items: center;

        &__image {
          width: 100%;
          height: 300px;
          position: relative;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .section-digitals-content {
    padding: 50px 0;
    color: #111111;
    &-head {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      &-textLeft {
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        text-align: center;
      }
      &-textRight {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        a {
          text-decoration: underline;
        }
      }
    }
    &-body {
      &__item {
        &__card {
          &__image {
            height: 350px !important;
          }
        }
        .cards {
          width: 47% !important;
        }
      }
    }
    &-decs {
      width: 100%;
      text-align: center;
    }
  }
}
@media (max-width: 760px) {
  .section-digitals-content {
    &-body {
      &__item {
        .cards {
          width: 100% !important;
        }
        .singleimage{
          height: 250px !important;
        }
      }
    }
  }
}
