@import "../../../../styles/variables";

.intro-case-study-detail {
  &-wrapper {
    padding-top: calc($header-height + $header-padding + $section-padding);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  &-content {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 420px;
    gap: 30px;
    &__image {
      position: relative;
      width: 140px;
      height: 100px;
    }
    &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    &__industry-type {
      display: flex;
      flex-direction: column;
      gap: 5px;
      &__text {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
      }
      &__tag {
        padding: 6px 12px;
        border-radius: 40px;
        background-color: #6f1ab6;
        width: fit-content;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        text-align: center;
      }
    }
    &__cate-type {
      display: flex;
      flex-direction: column;
      gap: 5px;
      &__text {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
      }
      &__tag {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
    }
  }
  &__image-moblile {
    width: 358px;
    height: 358px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }
}
@media (max-width: 1025px) {
  .intro-case-study-detail {
    &-wrapper {
      height: auto;
      padding: 50px 0;
      padding-top: 100px;
    }
    &-content {
      width: 330px;
    }
  }
}
@media (max-width: 760px) {
  .intro-case-study-detail {
    &-wrapper {
      background-image: unset !important;
      gap: 50px;
    }
    &-content {
      width: 100%;
      align-items: center;
      &__text {
        text-align: center;
      }
      &__industry-type {
        align-items: center;
        gap: 10px;
      }
      &__cate-type {
        gap: 10px;
        &__text {
          text-align: center;
        }
        &__tag {
          justify-content: center;
        }
      }
    }
  }
  .content-layout-mobile {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}
@media (max-width: 360px) {
  .intro-case-study-detail {
    &__image-moblile {
      width: 300px;
      height: 300px;
    }
  }
}
