@import "../../../styles/variables";

.blog-card-container {
  display: inline;
}
.blog-card {
  background-color: #fff;
  position: relative;
  width: auto;
  &-blog-page {
    transition: all 0.3s;
    height: auto;
    overflow: hidden;
    display: flex;
    &:hover {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__content {
    padding: 24px;
    width: 65%;
    &__tag {
      display: flex;
      align-items: center;
      gap: 12px;
      &__item {
        margin-top: 6px;
      }
    }
    &--title-post {
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: start;
      color: #6f1ab6;
      font-size: 20px;
      line-height: 28px;
    }
    &--text {
      color: #131114;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      margin: 16px 0;
      text-align: start;
    }
  }
  &__image {
    width: 35%;
    a {
      height: 310px;
      overflow: hidden;
      position: relative;
      display: block;
    }
    img {
      object-fit: cover;
    }
  }
  &__dateview-wrapper {
    display: flex;
    align-items: center;
    p {
      color: var(--neutral-100, #131114);
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      &:nth-child(2) {
        margin-left: 8px;
      }
    }
  }
}
@media (max-width: 830px) {
  .blog-card {
    flex-wrap: wrap;
    &__content {
      padding: 24px;
      width:60%;
      &__tag {
        display: flex;
        align-items: center;
        gap: 12px;
        &__item {
          margin-top: 6px;
        }
      }
    }
    &__image {
      width: 40%;
      a {
        width: 100%;
        height: 225px;
        overflow: hidden;
        position: relative;
        display: block;
      }
      img {
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 500px) {
  .blog-card {
    flex-wrap: wrap;
    &__content {
      padding: 24px;
      width: 100%;
      &__tag {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        &__item {
          margin-top: 6px;
        }
      }
    }
    &__image {
      width: 100%;
      a {
        width: 100%;
        height: 280px;
        overflow: hidden;
        position: relative;
        display: block;
      }
      img {
        object-fit: contain;
      }
    }
  }
}
